.github-fork-ribbon::before {
  background-color: #f80 !important;
}
.github-fork-ribbon::before, .github-fork-ribbon::after {
  height: 2.54em !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  background: black none repeat scroll 0 0;
  margin-top: 352px;
  color: white;
  position: absolute;
  bottom: 0;
  line-height: 35px;
  width: 100%;
}
.red{
  color: #f00;
  font-size: 22px;
}